.container{
    margin: auto;
    text-align: center;
}
.buttons{
    height: 2vw;
}
.linkText{
    font-size: 2vw;
    color: var(--0);
    text-decoration: none;
    font-weight: lighter;

}
.linkText:hover{
    text-decoration: underline;
}
.textContainers{
    margin-top: 5%;
}
@media (max-width: 1000px){
    .linkText{
        font-size: 5vw;
    }
    .buttons{
        height: 4vw;
    }
    .container{
        margin-top: 30vh;
    }
}