.container{
    width: 100%;
    margin-bottom: 5%;
}
.title{
    text-align: center;
    color: var(--0);
    font-size: 2vw;
}
.imgContainer{
    margin: auto;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.bigImgContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    width: 4vw;
    height: 4vw;
    filter: sepia(0.3);
}
.imgBig{
    width: 20vw;
    height: 15vw;
    object-fit: cover;
    margin: 2%;

    border: 0.2vw solid var(--1);



}
.circle2{
    position: absolute;

    top: 0;
    left: 0;
    transform: translateY(300vh) translateX(-20vw);
    width: 70vw; /* Set the circle's width and height to match the image's dimensions */
    height: 100vh;
    border-radius: 35vw 35vw 0 0;
    background-color: var(--2); /* Adjust the background color and transparency */
    z-index: -1; /* Push the circle behind the image */
    transition: 1s;

}
.circle{
    position: absolute; 
    transform: translateY(15vw) translateX(78.8vw);
    top: 0;
    left: 0;
    width: 25vw; /* Set the circle's width and height to match the image's dimensions */
    height: 45vw;
    border-radius: 40vw 0 0 40vw;
    background-color: var(--2); /* Adjust the background color and transparency */
    z-index: -1; /* Push the circle behind the image */
    transition: 1s;

}
.expContainer{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    border: 0.3vw solid var(--4);
    padding: 3%;
    color: var (--0);
    border-radius: 10px;
}
.year{
    font-size: 1vw;
}
.description{
    font-weight: lighter;
    font-size: 1.5vw;
    
}
.link{
    text-decoration: none;
    color: var(--0);
    cursor: pointer;
    font-weight: bolder;
}
.link:hover{
    text-decoration: underline;
}