
.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 10vh;
  
}
.active{
    text-decoration: underline;
    font-size: 1.3vw;
    margin: 1%;
    padding: 1%;
    background-color: var(--3);
    border: none;
    color: var(--0);
    font-weight: 700;
    
    
}

.notActive{
    background-color: var(--3);
    border: none;
  
    font-size: 1.3vw;
    
    margin: 1%;
    padding: 1%;
  
    color: var(--0)
    

}
.notActive:hover{
    text-decoration: underline;
    cursor: pointer;
}
@media (max-width: 1000px){
    .container{
        height: 5vh;
   
    }
    .notActive{
        font-size: 3vw;
    }
    .active{
        font-size: 3vw;
    }
}