
.container{
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 15px;
    padding: 20px;
    margin-top:20px;
    border-radius: 35px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    /* border: 1px solid var(--4); */

  
}
.navButton{
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: var(--0);
    font-weight: 700;
    height: min-content;
    display: flex;
    align-items: center;
    gap: 4px;

}
.navButton p{
    margin: 0;
    font-size: 18px;
}
.active{
    background-color: var(--4);
    transition:0.5s;    
}

.notActive{
    background-color: var(--3);
    transition: 0.5s;

}
.notActive:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: var(--4);
  
}

@media (max-width: 1000px){
    .container{
        padding: 8px;
    }
    .navButton{
        padding: 8px;
        flex-direction: column;
    }
    .navButton p{
        font-size: 13px;
    }
    .navButtonTextHidden{
        width: 0px;
        display: none;
        transition: 1s;
    }
}