.container{
    display: flex;
    flex-direction: row;
    height: 100%;
   

}

.oriana{
    height: 70%;
    width: 50%;
    object-fit: cover;
    object-position: top;
    filter: grayscale(0.6);
}