.homeContainer {
    height: 70vh;
    width: 60vw;
    margin: auto;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: var(--0);

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.infoContainer {
    position: relative;
    z-index: 90;
    opacity: 0;
    animation: fadeIn 0.7s ease-in-out forwards;
    animation-delay: 0.3s; 
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    width: 100%;
}
.circle1 {
    height: 500px;
    width: 500px;
    background-color: var(--2);
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    transform: translateY(30%) translateX(-20%); /* Start position */
    z-index: 0;
    animation: moveCircle1 1s ease-in-out forwards;
}

@keyframes moveCircle1 {
    from {
        transform: translateY(100%) translateX(-120%);
    }
    to {
        transform: translateY(30%) translateX(-20%);
    }
}

.circle2 {
    height: 700px;
    width: 700px;
    background-color: var(--4);
    position: absolute;
    z-index: 0;
    right: 0px;
    border-radius: 50%;
    transform: translateX(100%) translateY(-50%); /* Start position */
    animation: moveCircle2 1s ease-in-out forwards;
}

@keyframes moveCircle2 {
    from {
        transform: translateX(100%) translateY(-50%);
    }
    to {
        transform: translateX(30%) translateY(-20%);
    }
}

.profileImageContainer {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--4);
    align-self: right;
    opacity: 0;
    animation: fadeIn 0.7s ease-in-out forwards;
    animation-delay: 0.3s; 
}

.profileImage {
    width: inherit;
    height: auto;
    transform: translateY(-60px);
}

.downloadButton{
    background-color: var(--5);
    color: var(--3);
    text-decoration: none;
    padding: 16px;
    border-radius: 16px;
    width: fit-content;
    margin: auto;
}
.linksContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
}


@media (max-width: 1200px){
    .circle1{
        height: 400px;
        width: 400px;
    }
    .circle2{
        height: 500px;
        width: 500px;
    }
    .profileImageContainer{
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 900px){
    .main{
        flex-direction: column;
    }
    .title{
        font-size: 26px;
    }
    .subtitle{
        font-size: 18px;
    }
    .downloadButton{
        font-size: 14px;
        padding: 10px;
    }
}
@media (max-width: 700px){
    .circle1{
        height: 200px;
        width: 200px;
    }
    .circle2{
        height: 300px;
        width: 300px;
    }
    .homeContainer{
        width: 90vw;
    }
  
    .profileImageContainer{
        width: 200px;
        height: 200px;
    }
    .profileImage{
        width: inherit;
    }

}
