
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

:root{/*
  --0:#584036;;
  --1: #ffb28f;
  --2: #ffccbd;
  --3: #fffbde;
  --4: #ffadbb;
  --5: #ffe3fc;*/
  --0:#45462a;;
  --1: #606c38;
  --2: #bc6c25;
  --3: #fefae0;
  --4: #efdcac;
  --5: #d4a373;

  --font: 'Ubuntu', sans-serif;
}
body{
  font-family: var(--font);
  background-color: var(--3);
} 