.container{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
    background-color: var(--3);
    padding: 1%;
    padding-left: 2%;
    padding-right: 5%;
    box-shadow: 2vw 2vw var(--4);
    border: 0.3vw solid var(--2);
    border-radius: 15px;
    shape-margin: 20px;
    font-weight: lighter;
 
}

.title{
    color: var(--0)
}
.paragraph{
    shape-outside: url("../../../../public/oriana3.jpg");
    font-size: 1.3vw;
    color: var(--0);

}
.circle {
    position: absolute; 
    transform: translateY(7vw) translateX(30vw);
    top: 0;
    left: 0;
    width: 50vw; /* Set the circle's width and height to match the image's dimensions */
    height: 85vh;
    border-radius: 40vw 40vw 0 0;
    background-color: var(--2); /* Adjust the background color and transparency */
    z-index: -1; /* Push the circle behind the image */
    transition: 1s;
}
.oriana{
    margin: 2%;
    float:left;
    width: 20vw;
    border-radius: 50%;
    shape-outside: circle(); /* Define the shape of the text */
    clip-path: circle(); /* Create the circular clipping path */

}
@media (max-width: 800px){
    .container{
        border: 1vw solid var(--2);
        box-shadow: 4vw 4vw var(--4);
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .paragraph{
        font-size: 4vw;
    }
    .oriana{
        width: 50vw;
    }
}