.container{
    display: block;
    margin: auto;
    width: 50%;
}
.allInfoContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.hiddenInfo{
    opacity: 0;
    margin-top: 10%;
    transform: translateX(-50%);
    transition: all 1s ease;
    width: 100%;
    z-index: 1;

}
.showInfo{
    opacity: 1;
    margin-top: 10%;
    transition: all 1s ease;
    width: 100%;
    z-index: 1;
   


  
}
.titleAndImage{
    width: 25vw;
    transform: translateX(50%);
    transition: all 1s ease;
    z-index: 2
}
.titleAndImageClicked{
    width: 25vw;
    margin-left: 0;
    transition: all 1s ease;
    z-index: 2
}

.unClickedImg{
    position: relative;
    width: 25vw;
    height: 20vw;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 5px;
    transition: all 1s ease;
    object-position: top;
    z-index: 2
}
.unClickedImg:hover{
    opacity: 1;
    transform: scale(1.2);
    box-shadow: 5px 5px 5px white;
}   


.clickedImg{ 
    
    margin-left: 0%;
    width: 25vw;
    height: 20vw;
    object-fit: cover;

    border-radius: 5px;
    box-shadow: 0;
    transition: all 1s ease;
    cursor: pointer;
    z-index: 3
}

.title{
    color: var(--0)
}
.clickedSpace{
    width: 5%;
}
.unClickedSpace{
    width: 5%;
}

